doctype
html
  head
    meta(charset=utf-8)
    title AI Frontiers
    include head
  body
    include navbar
    .container-fluid
      .row
        .col.col-sm-3
          include sidebar
        .col.col-sm-9
          include content
    include copyright
