.sidebar
    div.list-group
      a.list-group-item.list-group-item-action.active(href='#') 3rd Conference
      a.list-group-item.list-group-item-action(href='//www.aifrontiers.com') 2nd Conference
      a.list-group-item.list-group-item-action(href='//2017.aifrontiers.com') 1st Conference
      a.list-group-item.list-group-item-action(href='http://aifrontiers.com/sponsor-us/') Sponsorship Letter
