.sidebar
    div.list-group
      a.list-group-item.list-group-item-action.active(href='#') 2018 conference
      a.list-group-item.list-group-item-action(href='//www.aifrontiers.com') Nov 2017 conference
      a.list-group-item.list-group-item-action(href='//2017.aifrontiers.com') Jan 2017 conference
      a.list-group-item.list-group-item-action(href='http://aifrontiers.com/sponsor-us/') Sponsorship Letter
